<!DOCTYPE html>
<html>

<%- include('includes/head.ejs') %>

<div class="row">
        <div class="col-2">
                &nbsp;
        </div>
        <div class="col-8" style="text-align: center;">
                <div class="row">
                        <center>
                                <h1 class="fontpara">Welcome to Solent Technology Conference!</h1>
                                <p class="headingp">The Eighteenth International Conference on Technology,
                                        Knowledge, and Society is
                                        brought together by a shared interest in the complex and subtle
                                        relationships
                                        between technology, knowledge and society. We seek to build an epistemic
                                        community where we can make linkages across disciplinary, geographic,
                                        and
                                        cultural boundaries. As a Research Network we are defined by our scope
                                        and
                                        concerns and motivated to build strategies for action framed by our
                                        shared
                                        themes and tensions.

                                        The Eighteenth International Conference on Technology, Knowledge, and
                                        Society
                                        features research addressing the following annual themes and special
                                        focus.</p>
                        </center>
                </div>
        </div>
        <div class="col-2">
                &nbsp;
        </div>
</div>
</body>

</html>